* {
  font-weight: normal;
  font-size: unset;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

:root {
  --ds-color-base: #dacab9;
  --ds-color-light-plus: color-mix(in srgb, var(--ds-color-base), white 50%);
  --ds-color-light: var(--ds-color-base);
  --ds-color-light-medium: color-mix(in srgb, var(--ds-color-base), black 15%);
  --ds-color-dark-medium: color-mix(in srgb, var(--ds-color-base), black 50%);
  --ds-color-dark: color-mix(in srgb, var(--ds-color-base), black 80%);
  --ds-color-dark-plus: color-mix(in srgb, var(--ds-color-base), black 85%);

  --text-color: var(--ds-color-dark);
  --background-color: var(--ds-color-light);
  --input-background-color: var(--ds-color-light-plus);
  --input-text-color: var(--ds-color-dark-plus);
}

body {
  font-family: Sora, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}

h1 {
  font-family: Oi, sans-serif;
  font-size: 4rem;

  @media (max-width: 30rem) {
    text-align: center;
    font-size: 3rem;
  }
  @media (max-width: 25rem) {
    font-size: 2.5rem;
  }
}

h2 {
  font-weight: bold;
  font-size: 1.125rem;
  padding-top: .625rem;
}

input[type=number], output {
  display: inline-block;
  white-space: nowrap;
  padding: .5rem .75rem;
  width: 5rem;
  border: none;
  color: var(--input-text-color);
  background-color: var(--input-background-color);
  border-radius: .5rem;
}

input[type=checkbox] {
  appearance: none;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: var(--input-background-color);
  vertical-align: middle;
  border-radius: .25rem;

  &:checked {
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><path fill='transparent' stroke='currentColor' stroke-width='2' d='M4,9, L7 12, L12 4' stroke-linecap='round' /></svg>");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

th, td {
  padding: .5rem;
  text-align: left;

  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}

th {
  font-weight: bold;
}

strong {
  font-weight: 600;
}

li {
  margin-left: 2rem;
}

ol, p {
  margin-block: 1rem;
}