* {
  font-weight: normal;
  font-size: unset;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

:root {
  --ds-color-dough-base: #dacab9;
  --ds-color-dough-light-plus: color-mix(in srgb, var(--ds-color-dough-base), white 50%);
  --ds-color-dough-light: var(--ds-color-dough-base);
  --ds-color-dough-light-medium: color-mix(in srgb, var(--ds-color-dough-base), black 15%);
  --ds-color-dough-dark-medium: color-mix(in srgb, var(--ds-color-dough-base), black 50%);
  --ds-color-dough-dark: color-mix(in srgb, var(--ds-color-dough-base), black 80%);
  --ds-color-dough-dark-plus: color-mix(in srgb, var(--ds-color-dough-base), black 85%);

  --ds-color-sage-base: #8bad9d;
  --ds-color-sage-light-plus: color-mix(in srgb, var(--ds-color-sage-base), white 50%);
  --ds-color-sage-light: var(--ds-color-sage-base);
  --ds-color-sage-light-medium: color-mix(in srgb, var(--ds-color-sage-base), black 15%);
  --ds-color-sage-dark-medium: color-mix(in srgb, var(--ds-color-sage-base), black 50%);
  --ds-color-sage-dark: color-mix(in srgb, var(--ds-color-sage-base), black 80%);
  --ds-color-sage-dark-plus: color-mix(in srgb, var(--ds-color-sage-base), black 85%);

  --text-color: var(--ds-color-dough-dark);
  --background-color: var(--ds-color-dough-light);
  --input-background-color: var(--ds-color-dough-light-plus);
  --input-text-color: var(--ds-color-dough-dark-plus);
  --input-checked-color: var(--ds-color-sage-dark-medium);
  --input-checked-color-contrast: var(--ds-color-dough-light-plus);
  --divider-color: var(--ds-color-dough-light-medium);

  @media (prefers-color-scheme: dark) {
    --text-color: var(--ds-color-dough-light-plus);
    --background-color: var(--ds-color-dough-dark);
    --input-background-color: var(--ds-color-dough-dark-medium);
    --input-text-color: var(--ds-color-dough-light-plus);
    --input-checked-color: var(--ds-color-sage-light);
    --input-checked-color-contrast: var(--ds-color-dough-dark-plus);
    --divider-color: var(--ds-color-dough-dark-medium);
  }
}

body {
  font-family: Sora, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}

h1 {
  font-family: Oi, sans-serif;
  font-size: 4rem;

  @media (max-width: 30rem) {
    text-align: center;
    font-size: 3rem;
  }
  @media (max-width: 25rem) {
    font-size: 2.5rem;
  }
}

h2 {
  font-weight: bold;
  font-size: 1.125rem;
  padding-top: .625rem;
}

input[type=number], output {
  display: inline-block;
  white-space: nowrap;
  padding: .5rem .75rem;
  width: 5rem;
  border: none;
  color: var(--input-text-color);
  background-color: var(--input-background-color);
  border-radius: .5rem;
}

input[type=checkbox] {
  appearance: none;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: var(--input-background-color);
  vertical-align: middle;
  border-radius: .25rem;
  overflow: hidden;
  transition: background-color .15s ease-out;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      mask: url("/src/assets/checkmark.svg");
      background-color: var(--input-checked-color-contrast);
      transition: all .15s ease-out;
    }

    &:checked {
      background-color: var(--input-checked-color);

      &::before {
        opacity: 1;
      }
    }
    &:not(:checked) {
      &::before {
        opacity: 0;
        transform: scale(1.5);
      }
    }
}

th, td {
  padding: .5rem;
  text-align: left;

  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}

th {
  font-weight: bold;
}

strong {
  font-weight: 600;
}

li {
  margin-left: 2rem;
}

ol, p {
  margin-block: 1rem;
}

p, li {
  line-height: 1.5rem;
}